<h2>Log in</h2>

<%= form_tag(session_create_path) do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= email_field_tag :email %>
  </div>

  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
    <%= hidden_field_tag :id, params[:id] %>
    <%= hidden_field_tag :subscription_required, params[:subscription_required] %>
    <%= hidden_field_tag :title, params[:title] %>
  </div>
  <div class="actions">
    <%= submit_tag "Log in" %>
  </div>
<% end %>
